@import "@arcgis/core/assets/esri/themes/light/main.css";

arcgis-scene {
  height: 100%;
}

calcite-navigation-logo {
  cursor: pointer;
}

.hide {
  display: none;
}

/* Startup dialog */

calcite-label[slot="footer-end"] {
  --calcite-label-margin-bottom: 0;
}

.startup-dialog-content {
  max-height: 60vh;
  img,
  video {
    max-width: 100%;
  }
}
